@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
   <a asp-controller="Tickets" asp-action="Index">Tickets Index</a> |
   <a asp-controller="Projects" asp-action="Index">Projects Index</a> |
   <a asp-controller="Tickets" asp-action="Create">Submit a Ticket</a> | 
    <a asp-controller="Role" asp-action="Index">Role Manager</a> |



@*    @if (@ViewBag.CurrentRole.Contains("Admin"))
    {
        <a asp-controller="Role" asp-action="Index">Role Manager</a>
    }*@

@*   <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id">Update Ticket</a>*@
</div>
