@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
    <a asp-controller="Tickets" asp-action="Index">Tickets</a> |
    <a asp-controller="Projects" asp-action="Index">Projects</a> |
    <a asp-controller="Tickets" asp-action="Create">Submit a Ticket</a> |
    <a asp-controller="Role" asp-action="Index">Role Manager</a>


@*   <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id">Update Ticket</a>*@
</div>
<br>
<br>
<br>
<br>
<div>
    <h6>Log In Info (for Zach)</h6>
    <p>Note: Admin has all roles -- Passwords for all accounts is "Password!1</p>
    <p>As an admin, all buttons and features will render on every page </p>

    <p>Email: admin@mitt.ca</p>
    <p>Email: PM1@mitt.ca</p>
    <p>Email: Dev1@mitt.ca</p>
    <p>Email: Submitter1@mitt.ca</p>
</div>

