
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@* <a asp-controller="Projects" asp-action="AllProjects" asp-route-id="@item.Id">Edit</a> |*@
<a asp-controller="Projects" asp-action="AllProjects">All Projects</a> |
<a asp-controller="Projects" asp-action="CurrentProjects" asp-route-id="">Current Projects</a> |

