<h1>Projects Index</h1>

<div>
    <a asp-controller="Projects" asp-action="AllProjects">All Projects</a> |
    <a asp-controller="Projects" asp-action="CurrentProjects" asp-route-id="">Current Projects</a> |
    <a asp-controller="Projects" asp-action="AddProject" asp-route-id="">Create New Project</a>
</div>

