@using BugTicketingSystemV2.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<TicketAttachment>

    <ol>
        @foreach(TicketAttachment ticketAttachment in Model) {
            <li>
                <p>@ticketAttachment.Body</p>
                <p>@ticketAttachment.FilePath?</p>
                <p>@ticketAttachment.FileUrl?</p>
                <p>@ticketAttachment.CreatedDate</p>
            </li>
        }
    </ol>
    